*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #707070;
}
.form-register {
    width: 400px;
    background: red;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.form-register h4{
    color: thistle;
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background-color: #c57f7f ;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.form-register p{

    color: white;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-register a{
    color: yellowgreen;
    text-decoration: none;
}
.form-register a:hover{
    color: violet;
    text-decoration: underline;
}
.form-register .botons{
    width: 100%;
    background: turquoise;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}